---
dist: xenial
language: python
python: 3.7
services: docker

install:
  - pip install --upgrade -r requirements-test.txt
script:
  - pre-commit run --all-files
  - pytest -v --cov=example --cov-report term-missing
after_success:
  - coveralls
